<% obj.each do |post| %>
  <div class="posts shadow-lg">
    <div class="row post-header">
      <div class="col-xs-4">
        <%= link_to image_tag(post.user.avatar.url(:thumb), class: "img-fluid img-thumbnail"), user_path(post.user) %>
      </div>
      <div class="col-xs-4 post-info">
        <strong><%= link_to post.title, post_path(post) %></strong>
        <p><%= time_ago_in_words(post.created_at) %> ago * <i class="fa fa-globe"></i></p>
      </div>
    </div>
    <div class="post-body"><%= post.description %></div>
    <div class="post-author">Created by: <%= link_to post.user.full_name, user_path(post.user) %></div>
    <div class="post-author"><%= post.likes.count %> likes</div>
    <% if user_signed_in? %>
      <span class="post-actions">
        <% if current_user.liked.include?(post) %>
          <%= link_to '<i class="fa fa-thumbs-down"></i> Unlike'.html_safe, unlike_post_path(post), method: :post %>
        <% else %>
          <%= link_to '<i class="fa fa-thumbs-up"></i> Like'.html_safe, like_post_path(post), method: :post %>
        <% end %>
      </span>
      <span><%= link_to '<i class="fa fa-comment"></i> Comment'.html_safe, new_comment_path(:post_id => post) %></span>
    <% end %>
  </div>
<% end %>