<div class="container">
  <div class="row">
    <div class="col-md-6 col-12">
      <div class="header shadow-lg"><h2 class="text-center"><%= @post.title %></h2>
        <div class="sections shadow-lg">
          <div class="row section-header">
            <div class="col-xs-4">
              <%= link_to image_tag(@post.user.avatar.url(:thumb), onerror: "this.src='/assets/missing_thumb.png'", class: "img-fluid img-thumbnail"), user_path(@post.user) %>
            </div>
            <div class="col-xs-4 section-info">
              <div><strong><%= link_to @post.user.full_name, user_path(@post.user), class: "link-custom" %></strong></div>
              <div><%= time_ago_in_words(@post.created_at) %> ago * <i class="fa fa-globe"></i></div>
            </div>
          </div>
          <p><%= @post.description %></p>
          <% if current_user == @post.user %>
            <span class="section-actions"><%= link_to '<i class="fa fa-pencil-square"></i> Edit'.html_safe, edit_post_path(@post), class: "link-custom" %></span>
            <span><%= link_to '<i class="fa fa-trash"></i> Delete'.html_safe, post_path(@post), method: :delete, data: {confirm: "Are you sure you want to delete this post?"}, class: "link-custom" %></span>
          <% end %>

          <hr>
          <div class="custom-spacing">
            <% @post.tags.each do |tag| %>
              <span class="badge badge-custom section-actions"><%= tag.content %>
                <% if current_user == @post.user %>
                  <%= link_to '<i class="fa fa-trash"></i>'.html_safe, tag_path(tag), method: :delete, data: {confirm: "Are you sure you want to delete this tag?"}, class: "badge-link-custom" %>
                <% end %>
              </span>
            <% end %>
          </div>

          <div class="custom-spacing"><%= @post.likes.count %> likes</div>
          <span class="section-actions">
            <% if current_user.liked.include?(@post) %>
              <%= link_to '<i class="fa fa-thumbs-up"></i> Unlike'.html_safe, unlike_post_path(@post), method: :post, class: "link-custom" %>
            <% else %>
              <%= link_to '<i class="fa fa-thumbs-o-up"></i> Like'.html_safe, like_post_path(@post), method: :post, class: "link-custom" %>
            <% end %>
          </span>

          <% if current_user == @post.user %>
            <%= link_to "Add Tag", new_tag_path(:post_id => @post), class: "link-custom" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-12">
      <div class="header shadow-lg"><h2 class="text-center">Comments</h2>
        <%= link_to '<i class="fa fa-comment"></i> Add comment'.html_safe, new_comment_path(:post_id => @post), class: "link-custom" %>
        <% @post.comments.each do |comment| %>
          <div class="sections shadow-lg">
            <div class="row section-header">
              <div class="col-xs-4">
                <%= link_to image_tag(comment.user.avatar.url(:thumb), onerror: "this.src='/assets/missing_thumb.png'", class: "img-fluid img-thumbnail"), user_path(comment.user) %>
              </div>
              <div class="col-xs-4 section-info">
                <div><strong><%= link_to comment.user.full_name, user_path(comment.user), class: "link-custom" %></strong></div>
                <div><%= time_ago_in_words(comment.created_at) %> ago * <i class="fa fa-globe"></i></div>
              </div>
            </div>
            <div class="custom-spacing"><%= comment.content %></div>
            <% if current_user == comment.user %>
              <span class="section-actions"><%= link_to '<i class="fa fa-pencil-square"></i> Edit'.html_safe, edit_comment_path(comment), class: "link-custom" %></span>
              <span><%= link_to '<i class="fa fa-trash"></i> Delete'.html_safe, comment_path(comment), method: :delete, data: {confirm: "Are you sure you want to delete this comment?"}, class: "link-custom" %></span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>