<!DOCTYPE html>
<html>
  <head>
    <title>CrudMedia</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
    <div class="min-vh-100">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
